.card {
  margin: 1% 2% !important;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 0px 15px 20px -7px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  transition: 0.5s;
  animation: ease-in-out;
}

.infected {
  border-bottom: solid 4px rgba(0, 0, 255, 0.3);
}

.recovered {
  border-bottom: solid 4px rgba(0, 255, 1, 0.3);
}

.deaths {
  border-bottom: solid 4px rgba(255, 0, 0.3, 0.3);
}
