body {
  background-color: rgb(250, 250, 250);
}

.container {
  margin: 0.5% !important;
}

.item {
  margin-top: 2% !important;
  justify-items: center !important;
}

.particles {
  position: "absolute";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
}
